annotated-doc==0.0.4
black==26.3.1
click==8.3.1
markdown-it-py==4.0.0
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
psutil==7.2.2
Pygments==2.20.0
pytokens==0.4.1
rich==14.3.3
ruff==0.15.8
shellingham==1.5.4
-e git+https://github.com/csgshaggy/ssrf-command-console.git@8a7bfa147e6911ee8889d5bfe40cd5a4b8001440#egg=ssrf_command_console
typer==0.24.1
